.sidebar-nav {
background: #152e44;
border-color: #152e44;
border-radius: 0px !important;
margin-left : 0px;
margin-top : -20px;
position: fixed;
width: 50px;
height: 100%;

}
.side-text{
color: #cbe6f3;
font-family: lucida sans unicode;
}

#AddForm{
position: relative;
margin-top: 15px;
box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.14);
}


#addform{

width: 160px;
height: 60px;
margin-top: 20px;
position: relative;
border-top: 200px;
}

#wrapper {

position: relative;
margin-left: 60px ;
margin-top: 20px;
width: auto;
height: auto;
overflow-y:auto;
overflow-x:hidden;
z-index: 1;
}

#table tr:hover {
background-color:#213544;
}

#table tr{
    background-color: transparent;
    border-bottom: 2pt solid #2b3b4a;
    font-family: lucida sans unicode;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.78);
}

#table th{
border-bottom: 3pt solid #2b3b4a;
}


#table{
border-radius: 8px;
border-collapse:collapse !important;
color:black;
width: 99.25% !important;
}

#table_wrapper{
background-color: #162129;
border-radius:2px;

}

.sidebar-nav a {
    background: #143958;
    border-left: solid #244e6d !important;
    border-left-width: 5px !important;
    color: #f0faff;
    margin-top:20px;
}

.sidebar-nav a:hover,
.sidebar-nav a:focus {
    color: #ffffff;
    background: #244e6d;
}

.sidebar-nav > .list-group .list-group-item {
    border: 0;
}

.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}

.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: black;
    background-color: #fff;
    border-color: #ccc;    
}
body{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #8daabf;
}


.form-control.input-sm{
margin: -100px 10px 5px 2px;
box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.14);
}

.menu-icon{
color: #9cdeff;

}
#form-control-input-sm {
    float: left;
}
#lhs_length {
    float: right;
}

.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}